body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* 여기에 container 클래스에 대한 스타일을 추가하세요 */
.container {
    background-color: white;
    padding: 20px 20px;
    box-shadow: 1px 1px 10px 1px gray;
    text-align: center;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#numbers{
    font-size: large;
    text-align: center;
    padding-top: 20px;
}
/* 여기에 numbers ID에 대한 스타일을 추가하세요 */

